/*
 *
 * calixa-MM-module
 *
 * Victor
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

 h5 {
    margin: 0px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 120%;
 }

 .left_panel {
    margin: 0px;
    font-size: 18px;
    text-align: center;
 }

 .img_box {
    height: 300px;
}

.img {
    display: block;
    width: 175px;
    margin: auto;
    margin-bottom: 0px;
}

.cart {
    position: inline-block;
    height: 15px;
}