/*
 *
 * calixa-MM-module
 *
 * Victor
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

 h5 {
    margin: 0;
    margin-bottom: 10%;
    text-align: center;
    line-height: 120%;
    font-size: 0.8em;
 }

 .left_panel {
    text-align: center;
    height: 100%;
    width: 15%;
 }

.img_box {
    font-size: 0.5em;
    line-height: 120%;
    margin: auto;
    margin-bottom: 10%;
    width: 70%;
}

.img {
    width: 100%;
    margin-bottom: 3%;
}

.cart {
    position: inline-block;
    height: 1em;
}